h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.big-title {
  margin-top: 70px;
}

div.home-img {
  margin-top: 30px;
  width: 70vw;
  text-align: center;
}

#logo-img {
  width: 120px;
  height: 64px;
  margin: 0 30px 0 30px;
}

#logo-img:hover {
  background: rgba(1,1,1,0.1);
}

p.about-paragraph {
  width: 60%;
  font-size: 16px;
  font-family: 'Maitree', serif;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.projects-section {
  display: flex;
  flex-direction: column;
}

.card {
  margin-top: 2vw;
}

.project-overview {
  width: 700px;
}

.tripic-card {
  width: 70vw;
  align-self: flex-end;
  margin-right: 5vw;
}

.pokemon-card {
  align-self: flex-start;
  width: 70vw;
  margin-left: 7vw;
}


