<div class="about-section">
  <h4>About Me</h4>
  <div class="container">
    <p class="about-paragraph">Hello everyone! My name is Berry and I am a web developer.
      In the past few years, I completed my master’s degree in engineering
      as a full time student at Cornell University. The experience of studying abroad in US
      has prepared me adaptability to different place and people ,
      learning skill to master unfamiliar knowledge and cooperation with teammates
      having different backgrounds and cultures.
    </p><br>
    <p class="about-paragraph">I taught myself Pascal(an ancient programming language) when I was in high school,
    then I kept learning few other programming languages such as C and C++ in college.
    I like new things in our lives. Like Javascript which is one of the fastest growing programming language and still improving everyday now.
    Some unique features of Javascript like dynamically typed and first-class functions are so brillant that attract me to be a Javascript programmer.
    </p><br>
    <p class="about-paragraph">My web-development skill will be concentrated on client side development
    using popular framework such as Angular and React.js. Besides I have fundamental experience on programming Javascript running in Node.js to create and expose RESTful APIs to public.
    </p>
  </div>
</div>
