<div class="contact-section">
  <h4>Contact</h4>
  <div class="contact-links">
    <div class="linkedIn avatar">
      <img class="left" src="../assets/icons/linkedIn.svg" width="80px">
      <a id="linkedIn-link" class="right" href="https://www.linkedin.com/in/yuliz0109">BerryZ</a>
    </div>
    <div class="github avatar">
      <img class="left" src="../assets/icons/github.svg" width="80px">
      <a class="right" id="github-link" href="https://github.com/yuli0109">BerryZ</a>
    </div>
    <div>
      <i class="material-icons left large">email</i>
      <a class="right" id="email-contact">yz924@cornell.edu</a>
    </div>
  </div>
</div>
