<div class="projects-section">
  <div class="card tripic-section">
    <div class="card-image waves-effect waves-block waves-light">
      <img width="200px" class="activator" src="../assets/img/tripific.jpeg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Tripific</span>
      <p><a href="#">Repository</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Tripific<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
