<div class="projects-section">
  <div class="card tripic-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img width="200px" class="activator" src="../assets/img/tripific.jpeg">
    </div>
    <div class="card-content left">
      <p class="project-overview">Tripific is a road trip planning application, designed to help you get the most out of your next road trip! By incorporating Google Maps and Yelp technologies, Tripific allows you to customize the waypoints you'd like to stop at throughout your trip. See more, do more, and drive less!</p>
    </div>
    <div class="card-content right">
      <span class="card-title activator grey-text text-darken-4">Tripific</span>
      <p><a href="https://github.com/yuli0109/Tripific">Repository</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Tripific<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
  <div class="card pokemon-card">
    <div class="card-image waves-effect waves-block waves-light">
      <img width="200px" class="activator" src="../assets/img/tripific.jpeg">
    </div>
    <div class="card-content left">
      <span class="card-title activator grey-text text-darken-4">Tripific</span>
      <p><a href="https://github.com/yuli0109/Tripific">Repository</a></p>
    </div>
    <div class="card-content right">
      <p class="project-overview">Tripific is a road trip planning application, designed to help you get the most out of your next road trip! By incorporating Google Maps and Yelp technologies, Tripific allows you to customize the waypoints you'd like to stop at throughout your trip. See more, do more, and drive less!</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Tripific<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
</div>
